html, body{
  height: 99%;
  background-color: rgba(0,0,0,1);
}
li{
  font-size: 18px;
}
#checks{
  color: rgba(255,255,255,1);
}
ul{
  list-style-type: none;
}
#groupTitle{
  background-color: #333;
}
#group{
  background-color: #111;
}

/*Darken Images*/
#worldRoxas, #worldTT, #worldHB, #worldDC, #worldTR, #worldAtlantica, #world100, #worldTWTNW, #worldTLoD, #worldBC, #worldOC, #worldPR, #worldAgrabah, #worldHT, #worldPL, #worldSP, #worldCoR, #fValor, #fWisdom, #fLimit, #fMaster, #fFinal, #mFire, #mBlizzard, #mThunder, #mCure, #mReflect, #mMagnet, #keyblade, #cBBall, #cLamp, #cUkulele, #cFeather {
  filter: brightness(40%);
}

.number{
  position:relative;
  top: -10px;
  right: 20px;
  color: #fff;
  font-size: 24px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.visitNum{
  position:relative;
  bottom: 0px;
  right: 20px;
  color: #fff;
  font-size: 24px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
