html, body{
  height: 99%;
  background-color: rgba(0,0,0,1);
}
li{
  font-size: 18px;
}
#checks{
  color: rgba(255,255,255,1);
}
ul{
  list-style-type: none;
}
#groupTitle{
  background-color: #333;
}
#group{
  background-color: #111;
}

/*Darken Images*/
#worldRoxas, #worldTT, #worldHB, #worldDC, #worldTR, #worldAtlantica, #world100, #worldTWTNW, #worldTLoD, #worldBC, #worldOC, #worldPR, #worldAgrabah, #worldHT, #worldPL, #worldSP, #worldCoR, #fValor, #fWisdom, #fLimit, #fMaster, #fFinal, #mFire, #mBlizzard, #mThunder, #mCure, #mReflect, #mMagnet, #keyblade, #cBBall, #cLamp, #cUkulele, #cFeather {
  filter: brightness(40%);
}

.number{
  position:relative;
  top: -10px;
  right: 20px;
  color: #fff;
  font-size: 24px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.visitNum{
  position:relative;
  right: 20px;
  color: #fff;
  font-size: 24px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.voidImg{
  position:relative;
  right: 30px;
  color: #fff;
  font-size: 24px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

/* Tooltip container */
.tooltip {
  height: 80px;
  /*width: 100px;*/
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
